@mixin width-height($wid,$hei)
{
    width: $wid;
    height: $hei;
}
@mixin display-justify-align($did,$jus,$ali) {
    display: $did;
    justify-content: $jus;
    align-items: $ali;
    
}
@mixin  dis-pla($a,$b) {
    display: $a;
    place-items: $b;
    
}
@mixin  mar-bor-pad($a,$b,$c) {
    margin-top: $a;
    border-radius: $b;
    padding: $c;
}
@mixin chatbox($a,$b,$c,$d)
{
    min-height: $a;
    padding: $b;
    border-radius: $c;
    background-color:$d;
}
@mixin button($a,$b,$c,$d,$e) {
    padding: $a;
    border-radius: $b;
    background-color: $c;
    font-weight: $d;
    outline: $e;
    cursor: pointer;
    
}